/out
/build
/CMakeFiles
/resources/references
/CMakeCache.txt
CMakePresets.json
CMakeUserPresets.json
.clang-format
.cache
vcpkg-configuration.json
vcpkg.json
.vscode
.zed
.DS_Store

samira_blender2.glb